{% extends 'core/base.html' %}
{% block title %}<title>Enviado</title>{%endblock %}
{% load static %} 

{% block content %}

<h3 style="margin-top: 30px;">Restablecimiento de contraseña enviado</h3>
<p style="margin-top: 40px;">
  Le hemos enviado por email las instrucciones para restablecer la contraseña,
  si es que existe una cuenta con la dirección electrónica que indicó. Debería
  recibirlas en breve.
</p>
<p style="margin-bottom: 50px;">
  Si no recibe un correo, por favor asegúrese de que ha introducido la dirección
  de correo con la que se registró y verifique su carpeta de spam.
</p>

{% endblock %}
