{% extends 'core/base.html' %} 
{% block title %}<title>Reset password</title>{%endblock %}
{% load static %}
{% block content %}

<h3 style="margin-top: 30px;"">Restablecer contraseña</h3>
<p style="margin-top: 45px;">
  ¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le
  enviaremos por correo electrónico las instrucciones para establecer una nueva.
</p>
<div class="form-container">
<form action="" method="post">
  {% csrf_token %} {{ form.email.errors }}
  <p>
    <input
      type="email"
      name="email"
      maxlength="254"
      required=""
      placeholder="Introduce tu email"
    />
  </p>
  <p>
    <input type="submit" value="Confirmar" />
  </p>
</form>
</div>
{% endblock %}
